<!-- <table class="table table-striped">
  <thead>
    <tr>
      <th>EmpId</th> 
      <th>Name</th>
      <th>Dept Name</th>
      <th>Salary</th>
    </tr>    
  </thead>
  <tbody>
    <tr *ngFor="let employee of empList">
      <td>{{employee.empId}}</td>
      <td>{{employee.name}}</td>
      <td>{{employee.deptName}}</td>
      <td>{{employee.salary}}</td>
    </tr>
  </tbody>
</table> -->
<app-custome-grid 
  [columnHeaderList]="headerList"
  [columnList]="columnList"
  [dataList]="empList"
  (getSelectedRow)="getSelectedRow($event)"
>
</app-custome-grid>
<p>
Selected Employee is :: {{selectedEmployee | json}}
</p>